body {
  grid-template-rows: 18rem auto auto auto 6rem;
  grid-column-gap: 5rem;
}

/* header */
.header .title {
  margin-top: 3rem;
  font-size: 200%;
}

.menu {
  margin-top: 1rem;
}

.menu li {
  display: block;
  margin-bottom: 1rem;
}

#subscribe {
  margin-top: 10rem;
}

/* main */
.left {
  padding: 1rem;
  grid-row: 2;
  grid-column: 1 / span 3;
}

.right {
  padding: 1rem;
  grid-row: 3;
  grid-column: 1 / span 3;
}

.tags {
  padding: 1rem;
  grid-row: 4;
  grid-column: 1 / span 3;
}

/* footer */
#footer {
  grid-row: 5;
}

#footer .contact {
  padding: 1rem;
}

#footer .social {
  padding: 1rem;
}

#footer img {
  width: 1rem;
}
