doctype
html
   head
      title= title
      link(rel="stylesheet", href="styles/main.css")
   body
      ul(class="menu")
         li
            a(href="/") Home
         li
            a(href="/students") Student List
         if (username && username !== '')
            li
               a(href="/logout") Logout
         else
            li
               a(href="/login") Login
            li
               a(href="/register") Register
      block content
