extends layout
block content
      div(class="container")
            h1= title

            div(class='errorMessage')= errorMessage

            form(action='/processRegistration', method='post', class='registrationForm')

                  div(class="field")
                        label(class="form-element", for="username") Username:
                        div(class="control")
                              input(type="text", class="input", name="username", id="username", placeholder="Username")

                  div(class="field")
                        label(class="form-element", for="password") Password:
                        div(class="control")
                              input(type="password", class="input", name="password", id="password", placeholder="Password")

                  button(class="button is-link") Sign Up
